.webcam-section {
    display: block;
    width: 80%;

    margin: auto;
    padding: 40px;
}

.webcam-section-header {
    display: block;

    font-size: 20px;

    margin: 20px 0;
    padding: 10px 20px;

    color: var(--main-color-white);
    text-align: left;
    background-color: var(--main-color-gray);
}

.webcam-section-content {
    display: block;
    box-sizing: content-box;
    padding: 0 40px;

    text-align: left;
}