@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

:root {
    --main-color-blue: #337ab7;
    --main-color-orange: #E67E22;
    --main-color-black: #000000;
    --main-color-dark: #333333;
    --main-color-ldark: #525252;
    --main-color-gray: #808080;
    --main-color-lgray: #E5E5E5;
    --main-color-white: #FFFFFF;

    --text-color: #1C1C1C;

    --box-shadow-bg-color: rgba(0,0,0,.2);
}

body {
    font-family: Lato, Helvetica Neue, sans-serif;
    background-color: var(--main-color-dark);
}
.App { text-align: center; }
.App-intro { font-size: large; }



/* ---- Header ---- */

    .App-header {
        display: flex;
        height: 100%;

        padding: 20px 60px;

        color: var(--main-color-white);
        background-color: var(--main-color-black);
    }

    .App-logo {
        height: 80px;
        margin: auto 0;

        /* animation: App-logo-spin infinite 20s linear; */
    }

    .App-title {
        margin: auto 0;
        padding: 20px;

        font-size: 1.5em;
    }



/* ---- Animation ---- */

    @keyframes App-logo-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }